@import "/src/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .hide {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; /* number of lines to show */
    }
  }
  div {
    p {
      font-family: "Inter";
      color: #828282;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    button {
      border: none;
      background: none;
      color: $pink-main;
      font-family: "Inter";
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .charasteristics {
    font-family: "Inter";
    padding: 24px 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    border-radius: 16px;

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        font-family: "Inter";
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
      }

      strong {
        font-family: "Inter";
      }
    }

    hr {
      border: 1px solid #e0e0e0;
      width: 30%;
    }
  }

  @media screen and (min-width: 1025px) {
    h2 {
      font-family: "Inter";
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }

    .hide {
      p {
        -webkit-line-clamp: 3; /* number of lines to show */
      }
    }

    .charasteristics {
      flex-direction: row;
      justify-content: space-around;

      hr {
        border: none;
        border-left: 1px solid #e0e0e0;
        height: 100%;
        width: 1px;
      }
    }
  }
}
