.container {
  position: relative;
  color: #ffffff;
  padding: 0 34px;

  .slides {
    display: flex;
    flex-direction: column;
    gap: 24px;
    gap: 24px;
    position: relative;

    .slide {
      position: relative;
      // display: flex;
      // flex-direction: column;
      box-shadow: 0px 4px 40px rgba(38, 41, 43, 0.07);

      img {
        align-self: flex-end;
        border-radius: 12px;
      }

      .info {
        width: 230px;
        position: absolute;
        bottom: 0;
        margin: 24px;
        z-index: 3;
        color: "#FFFFFF";
        display: flex;
        flex-direction: column;
        gap: 16px;

        h2 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
        }

        p {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
        }

        @media screen and (min-width: 769px) {
          margin: 40px;
          padding: 12px 24px;
          background: rgba(242, 242, 242, 0.2);
          backdrop-filter: blur(8px);
          border-radius: 8px;
          width: 70%;

          h2 {
            font-size: 40px;
            font-weight: 700;
            line-height: 46.96px;
          }

          p {
            width: 50%;
            font-weight: 600;
            line-height: 24px;
          }
        }

        @media screen and (min-width: 1400px) {
          width: 50%;
        }
      }
    }

    .furniture,
    .ad,
    .medical {
      .gradient {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
      }
    }

    .furniture {
      .gradient {
        background: linear-gradient(
          89.13deg,
          rgba(0, 0, 0, 0.4) 0.76%,
          rgba(0, 0, 0, 0.4) 0.77%,
          rgba(0, 0, 0, 0) 64.8%
        );
      }
    }

    .ad {
      .info {
        color: black;
      }
    }

    .medical {
      .gradient {
        background: linear-gradient(
          268.68deg,
          rgba(0, 0, 0, 0.5) 1.02%,
          rgba(0, 0, 0, 0) 99.4%
        );
      }
    }
  }

  @media screen and (min-width: 1120px) {
    .slides {
      width: 1120px;
      margin: auto;
      gap: 40px;
      margin-bottom: -40px;

      .slide {
        position: relative;

        img {
          width: 1120px;
          height: 720px;
        }
      }

      .ad {
        display: flex;
        flex-direction: column;

        .gradient {
          position: absolute;
          background: linear-gradient(
            67.53deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 0.01%,
            rgba(0, 0, 0, 0) 39.82%
          );
          height: 100%;
          width: 100%;
          z-index: 2;
        }

        img {
          height: 720px;
          width: auto;
          align-self: center;
        }

        .info {
          color: white;
        }
      }
    }
  }
}
