$pink-main: #fb4a7b;
$pink-light: #fda5bd;
$pink-bg: #ffe8ef;

$gradient: linear-gradient(
  90deg,
  rgba(106, 182, 255, 0.8) 0%,
  rgba(248, 38, 255, 0.8) 100.01%
);
$blue-gradient: #6ab6ff;
$purple-gradient: #f826ff;
