@import "/src/styles/variables.scss";

.container {
  margin: 0 20px;
  padding: 40px 24px 32px 24px;
  background-color: $pink-bg;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: fit-content;

  h1 {
    font-family: "Inter";
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }

  form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    input,
    textarea {
      font-family: "Inter";
      box-shadow: 0px 4px 40px rgba(38, 41, 43, 0.07);
      border-radius: 8px;
      width: 100%;
      border: none;
      padding: 12px 16px;

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;
    }

    button {
      cursor: pointer;
      background: $pink-main;
      border-radius: 500px;
      border: none;
      padding: 12px 0;
      width: 100%;
      font-family: "Inter";
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      &:hover {
        background-color: #bf3159;
      }
    }
  }

  .vector {
    img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    margin: 0;
    margin-right: 40px;

    h1 {
      font-size: 24px;
    }

    .vector {
      img {
        height: 200px;
      }
    }
  }
}
