@import "/src/styles/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    img {
      width: 44px;
      height: 40px;
    }

    div {
      color: $pink-main;

      p {
        font-family: "Inter", sans-serif;

        &:nth-of-type(1) {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.78px;
        }

        &:nth-of-type(2) {
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  .links {
    display: none;
    flex-direction: row;
    align-items: center;

    .request {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      padding: 8px 24px;
      border: 1px solid #242424;
      border-radius: 500px;

      svg {
        fill: #242424;
      }
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      width: 873px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      line-height: 19px;
      list-style: none;
      justify-content: space-between;
    }
  }

  .menuButton {
    svg {
      stroke: #232323;
      scale: 0.8;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
