@import "/src/styles/variables.scss";

.container {
  background-color: transparent;
  padding: 0 34px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 86px;

    hr {
      margin-bottom: 8px;
      color: #f2f2f2;
      opacity: 0.2;
    }

    .pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      a {
        line-height: 16.44px;
        font-weight: 500;
        padding-left: 1em;
        text-indent: -0.7em;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $pink-main;

          &::before {
            color: $pink-main;
          }
        }

        &::before {
          content: "• ";
          color: #bdbdbd;
          transition: color 0.3s ease-in-out;
        }

        margin-bottom: 12px;

        &:nth-of-type(1) {
          display: flex;
        }
      }
    }

    .socials {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      gap: 32px;

      div {
        text-align: end;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        svg {
          fill: #bdbdbd;
          cursor: pointer;
          transition: fill 0.3s ease-in-out;

          &:hover {
            fill: $pink-main;
          }
        }
      }
    }
  }

  .dev {
    text-align: end;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fb4a7b;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 1600px;
      gap: 24px;

      hr {
        width: 100%;
        max-width: 925px;
        grid-column: -1/1;
        margin-bottom: 56px;
      }

      .pages {
        width: 100%;
        max-width: 533px;
        justify-content: space-between;
      }

      .socials {
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 533px;
      }
    }
  }
}

.show {
  display: none;
}

@media screen and (min-width: 1025px) {
  .hide {
    background-color: #f5f5f7;
    display: none;
  }

  .show {
    display: flex;
  }
}
