@import "/src/styles/variables.scss";

.container {
  position: relative;
  color: white;
  margin: 0 -34px;
  padding: 0 -34px;
  height: 65vh;
  min-height: 600px;
  display: flex;
  width: 100%;

  @media screen and (min-width: 1500px) {
    min-height: 750px;
  }

  .animation {
    position: relative;
    // top: 35%;
    scale: 1.5;
    z-index: -1;

    svg {
      position: absolute;
      width: 768px;
      height: 600px;
      top: 20%;

      @media screen and (min-width: 481px) {
      }

      @media screen and (min-width: 769px) {
        width: 1024px;
      }

      @media screen and (min-width: 1025px) {
        top: 150px;
        scale: 1.2;
      }

      @media screen and (min-width: 1500px) {
        top: 250px;
        width: 1920px;
        scale: 1.7;
      }

      @media screen and (min-width: 1921px) {
        width: 3840px;
      }
    }
  }

  .image {
    height: 503px;
    width: 1462px;
    background-image: url("/images/Property.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -3em;

    @media screen and (min-width: 1025px) {
      width: 2017px;
      height: 698px;
    }
  }

  .description {
    padding: 0 34px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 120px;
    gap: 24px;

    @media screen and (min-width: 481px) {
      top: 200px;
    }

    @media screen and (min-width: 1025px) {
      top: 30%;
      left: 15%;
      width: 767px;
    }

    @media screen and (min-width: 1921px) {
      top: 40%;
    }

    h1 {
      margin: 0;
      line-height: 38px;
      font-size: 32px;

      @media screen and (min-width: 1025px) {
        width: 724px;
        margin-top: 60px;
        font-size: 68px;
        line-height: 82px;
      }
    }

    p {
      font-weight: 600;
    }

    button {
      width: fit-content;
      border: none;
      padding: 14px 40px;
      background-color: #fb4a7b;
      border-radius: 500px;
      color: white;
      font-size: 16px;
      font-weight: 800;
      margin-top: 40px;
      cursor: pointer;
    }
  }
}
